
@font-face {
  font-family: 'Rozha One';
  src: url('./assets/fonts/Rozha_One/RozhaOne-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/static/Roboto-Regular.ttf') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/static/Inter_18pt-Regular.ttf') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/Work_Sans/static/WorkSans-Regular.ttf') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Righteous';
  src: url('./assets/fonts/Righteous/Righteous-Regular.ttf') format('woff2');
  font-weight: 500;
}

*{
  font-family: inter !important;
}



.slick-arrow::after{
  display: none !important;
}

.slick-arrow::before{
  display: none !important;
}
/* Custom arrows */


.custom-arrow:hover {
  opacity: 1;
}

.custom-arrow:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 3px solid white;
  border-right: 3px solid white;
}

.slick-next.custom-arrow:before {
  transform: rotate(45deg);
  margin-left: -5px;
}

.slick-prev.custom-arrow:before {
  transform: rotate(-135deg);
  margin-right: -5px;
}

/* Fix for slider items */
.slick-slide div {
  outline: none;
}

@supports (backdrop-filter: blur(12px)) {
  .backdrop-blur-sm {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}